In [8]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier

import joblib

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/dataprofessor/code/master/streamlit/part3/penguins_cleaned.csv')

In [25]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male

In [12]:
X = df.drop(['species'], axis=1, inplace=False)
y = df['species']

In [19]:
X['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [22]:
category_cols = ['island', 'sex']
encoders = {}
for col in category_cols:
    converter = LabelEncoder()
    X[col] = converter.fit_transform(X[col])
    encoders[col] = converter

In [28]:
encoders

{'island': LabelEncoder(), 'sex': LabelEncoder()}

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=123)

In [31]:
# train model
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [27]:
rf = RandomForestClassifier(n_estimators=150)
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=150)

In [32]:
dt.score(X_test, y_test)

0.95

In [36]:
# save the model
joblib.dump(dt, './decision_tree.joblib', compress=True)
joblib.dump(encoders, './encoders.joblib', compress=True)
joblib.dump(category_cols, './categories.joblib', compress=True)

['./categories.joblib']